* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #72A9AC;
    color: #E6EAEB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Varela Round";
    padding: 15px 20px;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
}

a {
    color: #34767E;
}

a:hover {
    color: #FFD447;
}

h1 {
    color: #FFD447;
    font-size: 2.4rem;
    margin-bottom: 25px;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 25px;
}

.gameboard {
    border: 2px solid #FFD447;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 30px;
    height: 500px;
    width: 500px;
}

.gameboard-cell {
    border: 2px solid #FFD447;
    cursor: pointer;
    display: grid;
    align-items: center;
    font-size: 7rem;
    text-transform: uppercase;
}

.gameboard-cell:hover {
    background-color: #34767E;
}

button {
    background-color: #34767E;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 16px 32px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

button:hover {
    background-color: #FFD447;
    color: #252525;
}

@media screen and (max-width: 580px) {

    .gameboard {
        height: 400px;
        width: 400px;
    }

    .gameboard-cell {
        font-size: 5rem;
    }
}

@media screen and (max-width: 450px) {

    .gameboard {
        height: 330px;
        width: 330px;
    }
}